/*.features{
 	 background-color: #fafafa;	
 	 padding-bottom: 40px;
 }   
 .title{
 	margin-top: 30px;
 	    margin-left: 104px;
 }
 .title a{
 	 margin-left: -33px;
 }
 .icon img{
	padding-left: 10px;
   margin: auto;
   padding-top: 10px;
}
.content{
    margin: auto;
    margin-top: 36px;
}
.more-link{
	    margin-left: 3px;
    padding-top: 24px;
}*/